
body {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color:#F2F5F8 ;  
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}
h6{
    font-weight: bolder;
    font-size: 22px;
}
.basic-width{
    width: 95%;
    margin-left: 2.5%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
    background-color: white;
    padding: 2px 10px;
   border-radius: 5px;

}
.header-area{
   
}
.header-area{
    display: flex;
    justify-content: space-between;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dashboard-options{
    background-color: white;
}
.task-info{
    background-color: #E5E3FF;
    border-radius: 5px;
    padding: 10px ;
    height: 100%;
}
.task-chart{
    background-color: #F2F6FE;
    border-radius: 5px;
    padding: 10px ;
    height: 100%;
    width: 100%;  
}
.task-datas{
    display: flex;
    justify-content: space-between;
}
.task-name-title{
    color: rgba(0, 0, 0, 0.8);
}
.content-title{
    font-weight: 800;
}
.task-chart-data,.task-info-data{
/*    max-height: 300px;*/
/*    overflow-y: auto;*/
}

.task-chart-data::-webkit-scrollbar{
    width: 2px;
}
.dashboard-options,.create-task{
    padding: 20px 30px;
}
@media (max-width:992px){

.dashboard-options,.create-task{
    padding: 5px 10px;
}
.calander-content{
    margin-top: 20px;
}   
.create-task-list,.calander-content,.task-chart{
    margin-top: 15px;
}

}

.task-list-details{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;

}
.task-bg-1{
    background-color: #FFEFF5;
}
.task-bg-2{
    background-color: #E9F5FE;
}
.task-bg-3{
    background-color: #FFF6E9;
}
.user-img-logo{
    width: 45px;
    height: 45px;
}
.notification-img{
    width: 25px;
    height: 25px;
}
